{% extends "conteneur.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}




<ul type="square" class="navbar-brand list-unstyled">
    <li class="list-group-item list-group-item-dark"><h3><a href="{{url_for('index')}}">Accès au répertoire des index.</a></li></h3>
    <li class="list-group-item list-group-item-dark"><h3><a href="{{url_for('inscription')}}">Accès au formulaire d'inscription.</a></li></h3>
    <li class="list-group-item list-group-item-dark"><h3><a href="{{url_for('connexion')}}">Accès au formulaire de connexion.</a></li></h3>
    <li class="list-group-item list-group-item-dark"><h3><a href="{{url_for('repertoire')}}">Accès au répertoire des formulaires d'ajout de données.</a></li></h3>
    <li class="list-group-item list-group-item-dark"><h3><a href="{{url_for('rechercheavancee')}}">Accès au formulaire de recherche avancée.</a></li></h3>
    <li class="list-group-item list-group-item-dark"><h3><a href="{{url_for('telechargement')}}">Accès au lien de téléchargement de la base de données</a></li></h3>



</ul>



{% endblock %}