{% extends "conteneur.html" %}

{% block corps %}

<div>
    <center>
        <h2>Ajouter une amende</h2>
        <p>Pour ajouter une nouvelle amende, complétez le formulaire et cliquez sur "Ajouter".</p>
    </center>
</div>
<form class="form" method="POST" action="{{url_for('ajout_amende')}}">
    <div class="form-group row">
      <label for="ajout_amendes_id" class="col-sm-2 col-form-label">Identifiant de l'amende</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="ajout_amendes_id" placeholder="Id de l'amende"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="ajout_amendes_source_id" class="col-sm-2 col-form-label">Identifiant de la source de l'amende</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="ajout_amendes_source_id" placeholder="Id de la source de l'amende (sous la forme B62XX)"/>
      </div>
    </div>

    <!-- Nous avons opté pour la balise html datalist ici qui permet de suggérer des valeurs courantes sans fermer la liste, en prévision d'amendes exceptionnelles-->
    <div class="form-group row">
      <label for="ajout_amendes_montant" class="col-sm-2 col-form-label">Montant de l'amende (en sous parisis)</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" list="datalistOptions3" name="ajout_amendes_montant" placeholder="Montant de l'amende (voir les plus courants ci dessous : )"/>
          <datalist id="datalistOptions3">
                <option value="20">
                <option value="26">
                <option value="28">
                <option value="33">
                <option value="40">
                <option value="60">
                <option value="80">
                <option value="160">
            </datalist>
      </div>
    </div>


    <div class="form-group row">
        <label for="ajout_amendes_type" class="col-sm-2 col-form-label">Type de l'amende :</label>
        <div class="col-sm-10">
            <select name="ajout_amendes_type" id="ajout_amendes_type">
                <option value="brigandage">brigandage</option>
                <option value="conflit_juridiction">conflit_juridiction</option>
                <option value="dégradation">dégradation</option>
                <option value="désobéissance">désobéissance</option>
                <option value="port_arme">port_arme</option>
                <option value="soutien_banni">soutien_banni</option>
                <option value="vol">violence_physique</option>
                <option value="vol">vol</option>
            </select>
    </div>
    </div>

            <div class="form-group row">
    <label for="ajout_amendes_franche_verite" class="col-sm-2 col-form-label">Franches-vérités:</label>
        <div class="col-sm-10">
            <select name="ajout_amendes_franche_verite" id="ajout_amendes_franche_verite">
                <option value="oui">oui</option>
                <option value="non">non</option>
            </select>
    </div>
            </div>

    <div class="form-group row">
      <label for="ajout_amendes_transcription" class="col-sm-2 col-form-label">Transcription de l'amende</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="ajout_amendes_transcription" placeholder="Transcription de l'amende"/>
      </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-info text-center">Ajouter</button>
    </div>

</form>



<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('accueil')}}">Retour à l'accueil.</a></li>
</button>
</p>
{% endblock %}

