{% extends "conteneur.html" %}
{% block corps %}

<h1 class="display-2">Amende numéro {{amende.amendes_id}}</h1>

<dl>
    <dt>Identifiant de l'amende :</dt><dd>{{amende.amendes_id}}</dd>
    <dt>Identifiant de la source dont est tirée l'amende <br/>(série B des Archives Départementales du Nord) :</dt><dd>B {{amende.amendes_source_id}}</dd>
</dl>
    <table class="table table-bordered">
      <tr class="table-active">
        <th>Montant de l'amende (en sous parisis)</th>
        <th><i>Soit en livres parisis</i></th>
        <th><i>Soit en deniers parisis</i></th>
      </tr>
      <tr>
        <td>{{amende.amendes_montant}}</td>
        <td>{{amende.amendes_montant/20}}</td>
        <td>{{amende.amendes_montant*12}}</td>
      </tr>
    </table>
<dl>
    <dt>Type de l'amende : </dt><dd>{{amende.amendes_type}}</dd>
    <dt>Franche-vérités :</dt><dd>{{amende.amendes_franche_verite}}</dd>
    <dt>Transcription :</dt><dd>
    "Par
    {% for justiciable in amende.justiciable %}
    {{justiciable.personnes_nom}}
    {{justiciable.personnes_prenom}},
    <br/>
    {% endfor%}
    {{amende.amendes_transcription}}."</dd>
    <dt> Justiciable(s) mentionné(s)</dt> <dd>
    {% for justiciable in amende.justiciable %}
    <ul>
        <li><b>Nom</b> de la personnne : {{justiciable.personnes_nom}}</li>
        <li><b>Prénom</b> de la personne : {{justiciable.personnes_prenom}}</li>
        <li><b>Lien</b> vers la fiche de la personne : <a class="btn btn-secondary stretched-link" href="{{url_for("personne", personnes_id=justiciable.personnes_id)}}">cliquez ici</a></li>
    {% endfor %}
    </ul>
    </dd>



    {% if amende.authorships %}
    <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Identifiant de la modification</th>
                        <th scope="col">Date de la modification</th>
                        <th scope="col">Nom du contributeur</th>
                    </thead>
                    <tbody>
                    {% for modification in amende.authorships %}
                      <tr>
                        <td>Identifiant de la modification</td>
                        <td>{{modification.authorship_date}}</td>
                        <td>{{modification.user.user_nom}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
    {% else %}
            <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Historique des modifications</th>
                      </tr>
                      <tr>
                        <td> Cette fiche n'a pas encore été modifiée</td>
                      </tr>
                    </thead>
            </table>
    {%endif%}
    <p>
        <dl>

<dt> Accéder aux données correspondantes dans l'API:</dt>
            <dl><button type="button" class="btn btn-secondary">
                <a class="text-light" href="{{url_for("api_amendes", amendes_id=amende.amendes_id)}}">Cliquez ici</a>
            </button></dl>

    </p>
{% if current_user.is_authenticated %}
    <p>
  <dl>
    <dt> Modifications autorisées de la page : </dt>
    <dd>


    <button type="button" class="btn btn-primary text-light">
        <a class="text-light" href="{{url_for("amende_update", amendes_id=amende.amendes_id)}}">Modifier la page</a>
    </button>

    <button type="button" class="btn btn-danger text-light">
        <a class="text-light" href="{{url_for("supprimer_amende", amendes_id=amende.amendes_id)}}">Supprimer la page</a>
    </button>
    </dd>
</dl>
{% endif %}
</p>

    <!-- On utilise ici une série de blocs conditionnels pour permettre la navigation vers les amendes précédentes et suivantes,
     et donc afficher uniquement le bouton page suivante s'il s'agit de la première amende et uniquement le bouton amende précédente
     s'il s'agit de la dernière amende, afin d'éviter les renvois vers des amendes inexistantes et donc  des messages d'erreurs.
     Dans les autres cas, les deux boutons sont disponibles-->

    <div>
    {% if amende.amendes_id == 1 %}
<p class="col-md-12 text-center">
        <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('amende', amendes_id=amende.amendes_id+1)}}"> Amende suivante</a>
    </button>
</p>
{% elif amende.amendes_id == 101 %}
<p class="col-md-12 text-center">
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('amende', amendes_id=amende.amendes_id-1)}}"> Amende précédante</a>
    </button>
</p>

    {% else %}
<p class="col-md-12 text-center">
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('amende', amendes_id=amende.amendes_id-1)}}"> Amende précédente</a>
    </button>
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('amende', amendes_id=amende.amendes_id+1)}}"> Amende suivante</a>
    </button>
</p>
    {% endif %}

<p class="col-md-12 text-center">
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('index_amendes')}}">Retour à l'index des amendes.</a></li>
</button>
</p>
        </div>
{% endblock %}
