{% extends "conteneur.html" %}
{% block corps %}
<!-- En raison d'un problème d'un probléme d'identifiant dans la base de donnée, j'ai eu recours à ce subterge
pour que les amendes soient bien numérotées de 1 à 101 et non de 0 à 100-->
<h1 xmlns="http://www.w3.org/1999/html">Amende numéro {{amende.amendes_id+1}}</h1>

<dl>
    <dt>Identifiant de l'amende</dt><dd>{{amende.amendes_id+1}}</dd>
    <dt>Identifiant de la source dont est tirée l'amende (série B des Archives Départementales du Nord)</dt><dd>B {{amende.amendes_source_id}}
    <dt>Montant de l'amende (en sous parisis)</dt><dd>{{amende.amendes_montant}}</dd>
    <dd> <i>Soit en livres parisis : {{amende.amendes_montant/20}}</i></dd>
    <dd> <i>Soit en deniers parisis : {{amende.amendes_montant*12}}</i></dd>
    <dt>Type de l'amende </dt><dd>{{amende.amendes_type}}</dd>
    <dt>Franche-vérités</dt><dd>{{amende.amendes_franche_verite}}</dd>
    <dt>Transcription</dt><dd>
    "Par
    {% for justiciable in amende.justiciable %}
    {{justiciable.personnes_nom}}
    {{justiciable.personnes_prenom}},
    <br/>
    {% endfor%}
    {{amende.amendes_transcription}}."</dd>
    <dt> Justiciable(s) mentionné(s)</dt> <dd>
    {% for justiciable in amende.justiciable %}
    <ul>
        <li><b>Nom</b> de la personnne : {{justiciable.personnes_nom}}</li>
        <li><b>Prénom</b> de la personne : {{justiciable.personnes_prenom}}</li>
        <li><b>Lien</b> vers la fiche de la personne : <a href="{{url_for("personne", personnes_id=justiciable.personnes_id)}}">cliquez ici</a></li>
    {% endfor %}
    </ul>
    </dd>
    <dt>Historique des modifications</dt>
    <dt>
        <dd>
            {% if amende.authorships %}
            {% for modification in amende.authorships %}
            <li>Historique des modifications : [{{modification.authorship_date}}] {{modification.user.user_nom}}</li>
            {% endfor %}
            {% else %}
            Cette fiche n'a pas encore été modifiée.
            {%endif%}
        </dd>
    </dt>
</dl>
<p>
{% if current_user.is_authenticated %}
        <button type="button" class="btn btn-outline-warning">
        <a href="{{url_for("amende_update", amendes_id=amende.amendes_id)}}">Modifier la page</a>
        </button>
{% endif %}
</p>

<p>
{% if current_user.is_authenticated %}
    <button type="button" class="btn btn-outline-danger">
        <a href="{{url_for("supprimer_amende", amendes_id=amende.amendes_id)}}">Supprimer la page</a>
    </button>
{% endif %}
</p>


<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('index_amendes')}}">Retour à l'index des amendes.</a></li>
</button>
</p>
{% endblock %}
