{% extends "conteneur.html" %}
{% block corps %}
    <h2> Bienvenue dans le répertoire des index.</h2>
<ul class="navbar-brand list-unstyled">
    <li class="list-group-item"><h3><a href="{{url_for('index_amendes')}}"> Accès à l'index des amendes</a></h3></li>
    <li class="list-group-item"><h3><a href="{{url_for('index_personnes')}}"> Accès à l'index des personnes</a></h3></li>
    <li class="list-group-item"><h3><a href="{{url_for('index_sources')}}"> Accès à l'index des sources</a></h3></li>
</ul>
<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('accueil')}}">Retour à l'accueil.</a></li>
</button>
</p>
{% endblock %}