{% extends "conteneur.html" %}
{% block corps %}
    <h2> Bienvenue dans l'index des amendes</h2>
<p>
    Il y 101 amendes enregistrées:

        <ul>
            {% for amende in amendes.items %}
                <li><div class="card"><a href="{{url_for('amende', amendes_id=amende.amendes_id)}}">
                        <b>Numéro de l'amende : {{amende.amendes_id}}</b> <br/>
                        Type de l'amende: {{amende.amendes_type}} <br/>
                        Transcription : "{{amende.amendes_transcription}}" <br/>
                </a></div></li></br>
            {% endfor %}
        </ul>

    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in amendes.iter_pages() %}
            {% if page %}

              {% if page != amendes.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for("index_amendes", page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

          {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
          {% endif %}
        {%- endfor %}
      </ul>

<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('index')}}">Retour à l'index général.</a></li>
</button>
</p>

</p>
{% endblock %}