{% extends "conteneur.html" %}
{% block corps %}
    <h2> Bienvenue dans le répertoire des formulaires.</h2>
<ul>
    <li> Pour accéder à l'index des amendes,<a href="{{url_for('index_amendes')}}"> cliquez ici.</a></li>
    <li> Pour accéder à l'index des personnes,<a href="{{url_for('index_personnes')}}"> cliquez ici.</a></li>
    <li>Pour accéder à l'index des sources,<a href="{{url_for('index_sources')}}"> cliquez ici.</a></li>
</ul>
<p>
<ul type="square">
    <li><a href="{{url_for('accueil')}}">Retour à l'accueil</a></li>
</ul>
</p>
{% endblock %}