{% extends "conteneur.html" %}
{% block corps %}
<h1>{{personne.personnes_prenom}} {{personne.personnes_nom}}</h1>
<dl>
    <dt>Identifiant de la personne</dt><dd>{{personne.personnes_id}}</dd>
    <dt>Nom de la personne</dt><dd>{{personne.personnes_nom}}</dd>
    <dt>Prénom de la personne</dt><dd>{{personne.personnes_prenom}}</dd>
    <dt>Personne mentionnée dans l'amende numéro </dt><dd>{{personne.personnes_amendes_id}}</dd>
    <dt> Délit commis par le justiciable : </dt><dd>
    {% for amendes in personne.amendes %}
    <dd>
        <ul>
        <li> <b>Type</b> de l'amende : {{amendes.amendes_type}}</li>
        <li> <b>Transcription</b> : <br/>"Par {{personne.personnes_nom}} {{personne.personnes_prenom}}, <br/> {{amendes.amendes_transcription}}"</li>
        <li> <b>Lien</b> vers la fiche de l'amende: <a href="{{url_for("amende", amendes_id=amendes.amendes_id)}}">cliquez ici</a></li>
    {% endfor %}
        </ul>
    </dd>



    <dt>Historique des modifications</dt>
    <dt>
        <dd>
            {% if personne.authorships %}
            {% for modification in personne.authorships %}
            <li>Historique des modifications : [{{modification.authorship_date}}] {{modification.user.user_nom}}</li>
            {% endfor %}
            {% else %}
            Cette fiche n'a pas encore été modifiée.
            {%endif%}
        </dd>
    </dt>
</dl>
<p>
{% if current_user.is_authenticated %}
<button type="button" class="btn btn-outline-warning">
    <a href="{{url_for("personne_update", personnes_id=personne.personnes_id)}}"> Modifier la page</a>
</button>
{% endif %}
</p>
<p>
{% if current_user.is_authenticated %}
<button type="button" class="btn btn-outline-danger">
        <a href="{{url_for("supprimer_personne", personnes_id=personne.personnes_id)}}"> Supprimer la page</a>
</button>
{% endif %}
</p>
<p>
<button type="button" class="btn btn-outline-primary">
    <a href="{{url_for('index_personnes')}}">Retour à l'index des personnes.</a></li>
</button>
</p>
{% endblock %}
