{% extends "conteneur.html" %}
{% block corps %}
<h1 class="display-2">{{personne.personnes_prenom}} {{personne.personnes_nom}}</h1>
<dl>
    <dt>Identifiant de la personne</dt><dd>{{personne.personnes_id}}</dd>
    <dt>Nom de la personne</dt><dd>{{personne.personnes_nom}}</dd>
    <dt>Prénom de la personne</dt><dd>{{personne.personnes_prenom}}</dd>
    <dt>Personne mentionnée dans l'amende numéro </dt><dd>{{personne.personnes_amendes_id}}</dd>
    <dt> Délit commis par le justiciable : </dt><dd>
    {% for amendes in personne.amendes %}
    <dd>
        <ul>
        <li> <b>Type</b> de l'amende : {{amendes.amendes_type}}</li>
        <li> <b>Transcription</b> : <br/>"Par {{personne.personnes_nom}} {{personne.personnes_prenom}}, <br/> {{amendes.amendes_transcription}}"</li>
        <li> <b>Lien</b> vers la fiche de l'amende: <a class="btn btn-secondary stretched-link" href="{{url_for("amende", amendes_id=amendes.amendes_id)}}">cliquez ici</a></li>
    {% endfor %}
        </ul>
    </dd>
</dl>

    {% if personne.authorships %}
    <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Identifiant de la modification</th>
                        <th scope="col">Date de la modification</th>
                        <th scope="col">Nom du contributeur</th>
                    </thead>
                    <tbody>
                    {% for modification in personne.authorships %}
                      <tr>
                        <td>Identifiant de la modification</td>
                        <td>{{modification.authorship_date}}</td>
                        <td>{{modification.user.user_nom}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
    {% else %}
            <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Historique des modifications</th>
                      </tr>
                      <tr>
                        <td> Cette fiche n'a pas encore été modifiée</td>
                      </tr>
                    </thead>
            </table>
    {%endif%}

<p>

{% if current_user.is_authenticated %}
    <button type="button" class="btn btn-primary text-light">
        <a class="text-light" href="{{url_for("personne_update", personnes_id=personne.personnes_id)}}">Modifier la page</a>
    </button>

    <button type="button" class="btn btn-danger text-light">
        <a class="text-light" href="{{url_for("supprimer_personne", personnes_id=personne.personnes_id)}}">Supprimer la page</a>
    </button>
{% endif %}
</p>
        {% if personne.personnes_id == 1 %}
<p>
        <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('personne', personnes_id=personne.personnes_id+1)}}"> Personne suivante</a>
    </button>
</p>
{% elif personne.personnes_id == 101 %}
<p>
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('personne', personnes_id=personne.personnes_id-1)}}"> Personne précédante</a>
    </button>
</p>

    {% else %}
<p>
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('personne', personnes_id=personne.personnes_id-1)}}"> Personne précédente</a>
    </button>
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('personne', personnes_id=personne.personnes_id+1)}}"> Personne suivante</a>
    </button>
</p>
    {% endif %}

</p>
<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('index_personnes')}}">Retour à l'index des personnes.</a></li>
</button>
</p>
{% endblock %}
