{% extends "conteneur.html" %}


{% block corps %}

<h1 class="text-center">Recherche avancée</h1>

<form class="form" method="POST" action="{{url_for('rechercheavancee')}}">
    <div>
                <div class="col-md-12">
                    <h2>Amende</h2>
                </div>
            <div>
                <div class="col-md-10">
                    <strong>Identifiant de l'amende:</strong>
                    <input type="text" name="idAmende" class="form-control" value="" />
                </div>
                <div class="col-md-10">
                    <strong>Identifiant de la source dont provient l'amende :</strong>
                    <input type="text" name="idSourceAmende" class="form-control" value="" />
                </div>
            </div>
            <div>
                <div class="col-md-10">
                    <strong>Montant de l'amende :</strong>
                    <input type="text" name="montantAmende" class="form-control" value="" />
                </div>
                <div class="col-md-10">
                    <strong>Type de l'amende :</strong>
                    <input type="text" name="typeAmende" class="form-control" value="" />
                </div>
            </div>
            <div>
                <div class="col-md-10">
                    <strong>Franche vérité</strong>
                    <input type="text" name="francheVeriteAmende" class="form-control" value="" />
                </div>
                <div class="col-md-10">
                    <strong>Transcription</strong>
                    <input type="text" name="transcriptionAmende" class="form-control" value="" />
                </div>
            </div>
            <div>
                <div class="col-md-10">
                    <strong>Identifiants des personnes mentionnées:</strong>
                    <input type="text" name="idPersonneAmende" class="form-control" value="" />
                </div>
            </div>

    </div>
        <br>

    <div class="text-center">
    <button type="submit" class="btn btn-primary text-center">Rechercher</button>
    </div>
</form>
<br/>
<div>

<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('accueil')}}">Retour à l'accueil.</a>
</button>
</p>
</div>
{% endblock %}
