{% extends "conteneur.html" %}


{% block corps %}

<h1 class="text-center">Recherche avancée</h1>

<form class="form" method="POST" action="{{url_for('rechercheavancee')}}">
    <div>
                <div class="col-md-12">
                    <h2>Amende</h2>
                </div>
            <div>
                <div class="mb-3">
		    <label class="form-label">Identifiant de l'amende:</label>
		    <select>
		    	{% for i in id_amendes %}
		    		<option value="{{i.value}}">
			    		{{i.amendes_id}}
			    	</option>
		    	{% endfor %}
		    </select>
		  </div>

<!--                <div class="col-md-10">-->
<!--                    <strong>Identifiant de l'amende:</strong>-->
<!--                    <input type="text" name="idAmende" class="form-control" value="" />-->
<!--                </div>-->
                <div class="col-md-10">
                    <strong>Identifiant de la source dont provient l'amende :</strong>
                    <input type="text" name="idSourceAmende" class="form-control" value="" />
                </div>
            </div>
            <div>
                <div class="col-md-10">
                    <strong>Montant de l'amende :</strong>
                    <input type="text" name="montantAmende" class="form-control" value="" />
                </div>

                <div class="col-md-10">
        <label for="typeAmende" class="col-form-label">
            <b>Type de l'amende :</b></label>
        <div class="col-sm-10">
            <select name="typeAmende" id="typeAmende">
                <option value="brigandage">brigandage</option>
                <option value="conflit_juridiction">conflit_juridiction</option>
                <option value="dégradation">dégradation</option>
                <option value="désobéissance">désobéissance</option>
                <option value="port_arme">port_arme</option>
                <option value="soutien_banni">soutien_banni</option>
                <option value="violence_physique">violence_physique</option>
                <option value="vol">vol</option>
            </select>
    </div>
    </div>

            </div>
            <div>
<div class="col-md-10">
        <label for="francheVeriteAmende" class="col-form-label">
            <b>Franches-vérités :</b></label>
        <div class="col-sm-10">
            <select name="francheVeriteAmende" id="francheVeriteAmende">
                <option value="oui">oui</option>
                <option value="non">non</option>
            </select>
        </div>
</div>
                <div class="col-md-10">
                    <strong>Transcription</strong>
                    <input type="text" name="transcriptionAmende" class="form-control" value="" />
                </div>
            </div>
            <div>
                <div class="col-md-10">
                    <strong>Identifiants des personnes mentionnées:</strong>
                    <input type="text" name="idPersonneAmende" class="form-control" value="" />
                </div>
            </div>

    </div>
        <br>

    <div class="text-center">
    <button type="submit" class="btn btn-primary text-center">Rechercher</button>
    </div>
</form>
<br/>
<div>

<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('accueil')}}">Retour à l'accueil.</a>
</button>
</p>
</div>
{% endblock %}
