{% extends "conteneur.html" %}
{% block corps %}
    <h2> Bienvenue dans le répertoire des formulaires.</h2>
<ul class="navbar-brand list-unstyled">
    <li class="list-group-item"><h3><a href="{{url_for('ajout_amende')}}">Accès au formulaire d'ajout des amendes.</a></h3></li>
    <li class="list-group-item"><h3><a href="{{url_for('ajout_personne')}}">Accès au formulaire d'ajout des personnes.</a></h3></li>
    <li class="list-group-item"><h3><a href="{{url_for('ajout_source')}}">Accès au formulaire d'ajout des sources.</a></h3></li>
</ul>
</ul>
<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('accueil')}}">Retour à l'accueil.</a></li>
</button>
</p>
{% endblock %}