{% extends "conteneur.html" %}

{% block corps %}

        <p>Il y a {{resultats_amendes.total}} amende(s) qui répond(ent) à votre requête :</p>
        <ul>
            {% for resultat in resultats_amendes.items %}
            <li><a href="{{url_for('amende', amendes_id=resultat.amendes_id)}}">{{resultat.amendes_id}}</a>
            </li>
            {% endfor %}
        </ul>

    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in resultats_amendes.iter_pages() %}
            {% if page %}

              {% if page != resultats_amendes.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for("rechercheavancee", page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

          {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
          {% endif %}
        {%- endfor %}
      </ul>
    </nav>


        <p>Il y a {{resultats_personnes.total}} personne(s) qui répond(ent) à votre requête :</p>
        <ul>
            {% for resultat in resultats_personnes.items %}
            <li><a href="{{url_for('personne', personnes_id=resultat.personnes_id)}}">{{resultat.personnes_id}}</a>
            </li>
            {% endfor %}
        </ul>

    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in resultats_personnes.iter_pages() %}
            {% if page %}

              {% if page != resultats_personnes.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for("rechercheavancee")}}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

          {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
          {% endif %}
        {%- endfor %}
      </ul>
    </nav>


        <p>Il y a {{resultats_source.total}} source(s) qui répond(ent) à votre requête :</p>
        <ul>
            {% for resultat in resultats_source.items %}
            <li><a href="{{url_for('source', source_id=resultat.source_id)}}">{{resultat.source_id}}</a>
            </li>
            {% endfor %}
        </ul>

    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in resultats_source.iter_pages() %}
            {% if page %}

              {% if page != resultats_source.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for("rechercheavancee", page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

          {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
          {% endif %}
        {%- endfor %}
      </ul>
    </nav>

{% endblock %}