{% extends "conteneur.html" %}
{% block corps %}
<h1 class="display-2"> B {{source.source_id}}</h1>
<dl>
    <dt>Identifiant de la source (série B des Archives Départementales du Nord) :</dt><dd>B {{source.source_id}}</dd>
    <dt>Date de la source : </dt><dd> {{source.source_date}}</dd>
    <dt> Contient les amendes suivantes :</dt>
    {% for amende in source.amendes %}
    <p>
    <ul>
        <li><b>Numéro de l'amende</b>: {{amende.amendes_id}}<br/>
        <b>Transcription</b>:"{{amende.amendes_transcription}}"<br/>
        <b>Lien</b> : <a class="btn btn-secondary stretched-link" href="{{url_for("amende", amendes_id=amende.amendes_id)}}"> cliquez ici</a></li>
    </ul>
    </p>
    {% endfor %}
</dl>
<p>
    {% if source.authorships %}
    <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Identifiant de la modification</th>
                        <th scope="col">Date de la modification</th>
                        <th scope="col">Nom du contributeur</th>
                    </thead>
                    <tbody>
                    {% for modification in source.authorships %}
                      <tr>
                        <td>Identifiant de la modification</td>
                        <td>{{modification.authorship_date}}</td>
                        <td>{{modification.user.user_nom}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
    {% else %}
            <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Historique des modifications</th>
                      </tr>
                      <tr>
                        <td> Cette fiche n'a pas encore été modifiée</td>
                      </tr>
                    </thead>
            </table>
    {%endif%}
</p>
    <p>
        <dl>

<dt> Accéder aux données correspondantes dans l'API:</dt>
            <dl><button type="button" class="btn btn-secondary">
                <a class="text-light" href="{{url_for("api_source", source_id=source.source_id)}}">Cliquez ici</a>
            </button></dl>

    </p>
{% if current_user.is_authenticated %}
<p>
  <dl>
    <dt> Modifications autorisées de la page : </dt>
    <dd>
    <button type="button" class="btn btn-primary text-light">
        <a class="text-light" href="{{url_for("source_update", source_id=source.source_id)}}">Modifier la page</a>
    </button>

    <button type="button" class="btn btn-danger text-light">
        <a class="text-light" href="{{url_for("supprimer_source", source_id=source.source_id)}}">Supprimer la page</a>
    </button>
    </dd>
</dl>
{% endif %}
</p>

    <!-- On utilise ici une série de blocs conditionnels pour permettre la navigation vers les sources précédentes et suivantes,
     et donc afficher uniquement le bouton page suivante s'il s'agit de la première source et uniquement le bouton source précédente
     s'il s'agit de la dernière personne, afin d'éviter les renvois vers des amendes inexistantes et donc  des messages d'erreurs.
     Dans les autres cas, les deux boutons sont disponibles-->

<div class="navbar navbar-dark">
    {% if source.source_id == 6234 %}
<p class="col-md-12 text-center">
        <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('source', source_id=source.source_id+1)}}"> Source suivante</a>
    </button>
</p>
{% elif source.source_id == 6243 %}
<p class="col-md-12 text-center">
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('source', source_id=source.source_id-1)}}"> Source précédante</a>
    </button>
</p>

    {% else %}
<p class="col-md-12 text-center">
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('source', source_id=source.source_id-1)}}"> Source précédente</a>
    </button>
    <button type="button" class="btn btn-dark">
        <a class="text-light" href="{{url_for('source', source_id=source.source_id+1)}}"> Source suivante</a>
    </button>
</p>
    {% endif %}

<p class="col-md-12 text-center">
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('index_sources')}}">Retour à l'index des sources.</a></li>
</button>
</p>
</div>
{% endblock %}