{% extends "conteneur.html" %}
{% block corps %}
<h1> B {{source.source_id}}</h1>
<dl>
    <dt>Identifiant de la source (série B des Archives Départementales du Nord) </dt><dd>B {{source.source_id}}</dd>
    <dt>Date de la source </dt><dd> {{source.source_date}}</dd>
    <dt> Contient les amendes suivantes :</dt>
    {% for amende in source.amendes %}
    <ul>
        <li><b>Numéro de l'amende</b>: {{amende.amendes_id}}</li>
        <li><b>Transcription</b>:"{{amende.amendes_transcription}}"</li>
        <li type="square"> <b>Lien</b> : <a href="{{url_for("amende", amendes_id=amende.amendes_id)}}"> cliquez ici</a></li>
    </ul>
    {% endfor %}
</dl>
<p>
    <b>Historique des modifications</b>:
    <ul>
    {% for modification in source.authorships %}
        <li> [{{modification.authorship_date}}] {{modification.user.user_nom}}</li>
    {% endfor %}
    </ul>
</p>

<p>

{% if current_user.is_authenticated %}
    <button type="button" class="btn btn-outline-warning">
        <a href="{{url_for("source_update", source_id=source.source_id)}}">Modifier la page</a>
    </button>
{% endif %}
<p>
<p>

{% if current_user.is_authenticated %}
    <button type="button" class="btn btn-outline-danger">
        <a href="{{url_for("supprimer_source", source_id=source.source_id)}}">Supprimer la page</a>
    </button>
{% endif %}
</p>
<p>
<button type="button" class="btn btn-outline-primary">
    <a href="{{url_for('index_sources')}}">Retour à l'index des sources.</a></li>
</button>
</p>
{% endblock %}