{% extends "conteneur.html" %}


{% block corps %}

<div class = "container" style="padding-top: 5%; padding-bottom: 5%; text-align:center">
    <p>Vous pouvez télécharger l'intégralité de notre base de données au format <b>SQLite</b> en cliquant sur le bouton ci-dessous :</p>
    <a class="btn btn-dark" href="{{url_for('download')}}">Télécharger</a>
</div>
<p>
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('accueil')}}">Retour à l'accueil.</a></li>
</button>
</p>

{% endblock %}