<!DOCTYPE html>
<html>
    <head>
        <title>Projet Criminalithé</title>
        {% include "partials/metadata.html" %}
        {% include "partials/css.html" %}
        <style type="text/css">
            .hero  {
                background-position: center center;
                padding:15vh;
                background-image: url({{url_for("static", filename="images/fonds.jpg")}});
            }
            .container .hero {
                background-image: none;
            }
        </style>
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="{{ url_for('accueil') }}">Criminalithé</a>

        <ul class="nav nav-pills mr-auto">
            {% if not current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("inscription")}}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("connexion")}}">Connexion</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("deconnexion")}}">Déconnexion ({{current_user.user_nom}})</a>
              </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("repertoire")}}">Contribuer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("index")}}">Index général</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("download")}}">Télécharger la BDD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("repertoire_recherche_avancee")}}">Recherche avancée</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="{{url_for("navigation_api")}}">{API}</a>
              </li>
        </ul>


        <form class="form-inline" action="{{url_for("recherche")}}" method="GET">
          <input class="form-control bg-grey text-dark" name="keyword" type="search" placeholder="Recherche rapide" aria-label="Recherche">
          <button class="btn btn-grey" type="submit">Rechercher</button>
        </form>
      </nav>
      {% block afternav %}{%endblock%}
       <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
      </div>

    </body>
    <br>
    <br>
    <footer class="text-center text-dark fixed-bottom footer-transparent">
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.8);">
            <p class="text-light">Valentin De Craene - 2022 : <a class="text-light"
        href="https://twitter.com/VDCrne" target="_blank"
        >Twitter</a> - <a class="text-light" href="https://github.com/ValentinDeCraene" target="_blank">Github</a></p>
        </div>
    </footer>
</html>